---
- hosts: all
  name: Arch ARM Sway Playbook
  pre_tasks:
    - name: System details
      ansible.builtin.debug:
        msg: "{{ item }}"
      with_items:
      - "{{ ansible_facts['distribution'] }}"
      - "{{ ansible_facts['distribution_release'] }}"
      - "{{ ansible_facts['distribution_version'] }}"
      - "{{ ansible_facts['distribution_major_version'] }}"
      - "{{ ansible_facts['architecture'] }}"
    - name: Update repositories
      become: True
      community.general.pacman:
        update_cache: True
      changed_when: False
  tasks:
    - include_tasks: tasks/aur-user.yml
    - include_tasks: tasks/pacman.yml
    - include_tasks: tasks/git.yml
    - include_tasks: tasks/yay.yml 
    - include_tasks: tasks/pacman-aur.yml
    - include_tasks: tasks/main-packages.yml
    - include_tasks: tasks/wayland-packages.yml
    - include_tasks: tasks/sway-packages.yml
    - include_tasks: tasks/kde-packages.yml
    - include_tasks: tasks/tlp.yml
    - name: Install Oh My Zsh
      ansible.builtin.include_role:
        name: lorenzobettini.oh_my_zsh
      vars:
        with_starship: false
        copy_dot_files: false
    - include_tasks: tasks/java-latest-lts.yml
    - include_tasks: tasks/visual-studio-code.yml
    - include_tasks: tasks/libreoffice.yml
    - include_tasks: tasks/other-packages.yml
    - name: Include additional fonts task
      import_tasks: tasks/additional-fonts.yml
      tags:
        - additional-fonts
