---
- hosts: all
  name: Arch LaTeX Playbook
  pre_tasks:
    - name: System details
      ansible.builtin.debug:
        msg: "{{ item }}"
      with_items:
      - "{{ ansible_facts['distribution'] }}"
      - "{{ ansible_facts['distribution_release'] }}"
      - "{{ ansible_facts['distribution_version'] }}"
      - "{{ ansible_facts['distribution_major_version'] }}"
    - name: Update repositories
      become: true
      community.general.pacman:
        update_cache: True
      changed_when: False
  tasks:
    - include_tasks: tasks/latex.yml
