- name: Install Docker Packages
  become: true
  community.general.pacman:
    state: present
    name:
    - docker
    - docker-compose
    - docker-buildx

- name: Allow running Docker without sudo
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    groups: docker
    append: yes

# Then, you have to explicitly start docker.service
# systemctl start docker.service.
# With service module, when running in Docker in molecule
# we get this error FAILED! =>
# "msg": "Could not find the requested service docker: host"
# with systemd module instead it works
- name: Do NOT enable service docker on boot
  become: true
  ansible.builtin.systemd:
    name: docker.service
    enabled: no

# This way, as soon as we run a docker command docker.service starts
- name: Enable docker.socket on boot
  become: true
  ansible.builtin.systemd:
    name: docker.socket
    enabled: yes
