- name: Install Firewall
  become: true
  community.general.pacman:
    state: present
    name:
    - firewalld
    - firewall-applet

- name: Enable firewalld
  become: true
  ansible.builtin.systemd:
    name: firewalld.service
    enabled: yes

- name: Copy Fedora Workstation zone configuration
  become: true
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/tasks/files/firewall/"
    dest: "/usr/lib/firewalld/zones/"
    mode: 0644
