- name: Install Main Packages
  become: True
  community.general.pacman:
    state: present
    name:
    - base-devel
    - curl
    - wget
    - curl
    # - gkrellm # not in Arch repos anymore due to EOL of gtk2; available in AUR
    - net-tools
    - unison
    - firefox
    - thunderbird
    - ntfs-3g
    - dnsutils
    - rsync # required by Molecule when building a Docker image
    - stow
