- name: Configure Pacman output
  become: true
  community.general.ini_file:
    path: /etc/pacman.conf
    mode: 0644
    allow_no_value: yes
    section: options
    option: "{{ item.option }}"
    no_extra_spaces: yes
  loop:
    - option: Color
    - option: ILoveCandy
    - option: VerbosePkgLists

- name: Configure Pacman other options
  become: true
  community.general.ini_file:
    path: /etc/pacman.conf
    mode: 0644
    section: options
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    no_extra_spaces: yes
  loop:
    - option: ParallelDownloads
      value: 10

- name: Install pacman programs
  become: true
  community.general.pacman:
    state: present
    name:
      - pacman-contrib
      - rebuild-detector

# reflector is not available for arm
- name: Install reflector
  become: true
  community.general.pacman:
    state: present
    name:
      - reflector
  when: ansible_facts['architecture'] != "aarch64"
